
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

#app {
    margin: 20px;
}

.container-fluid {
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-fluid div {
    color: white;
    background-color: rgba(19, 19, 19, 0.812);
    width: auto;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid rgba(19, 19, 19, 0.812);
    border-radius: 5px;
    text-align: center;
    margin: 2%;
    padding: 30px;
}
